* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: darkred;
    font-family: Helvetica, Arial, sans-serif;
  }
  /* apply styles to <header> */
  header {
        padding: 20px 35px;
        background-color: darkred;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    text-decoration: underline;
    color: #fce138;
    margin: 0;
    display: inline;
  }
  header a {
      text-decoration: underline;
      color: #fce138;
  }
  header nav {
    float: right;
    margin: 7px 0;
  }
  header nav ul li {
      display: inline;
  }
  header nav ul li a {
      margin: 0 30px;
      font-weight: lighter;
      font-size: 22px;
  }

  .work {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

section {
    padding: 60px;
}
/* Hero Style Start */
.hero {
    height: 250px;
    width: 100%;
    text-align: end;
    background-image: url("../assets/images/header.png");
    background-position: center;
    background-repeat: repeat;
    font-size: larger;
    font-weight: bold;
  }

  .hero h1{
      display: inline-block;   
      background-color: yellow;
      
  }

  .grid-item{
    display: flex;
    border: 5px solid;
    margin: 5px auto;
    border-radius: 5px;
    font-size: 35px;
    background-color: dimgray;
}
  /* Hero Style End */
  @media screen and (max-width: 1024px){
    .hero {
      float: none;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
  
      }
      .hero {
        width: auto;
        height: auto;
      }
    }